{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{% static 'index.css' %}" rel="stylesheet" />
</head>

<body>
    {% block title %}
    <title> Django App </title>{% endblock %}
    <h1> Posts </h1>

    <ul>

        {% block content %} {% for post in object_list %}
        <li><a href="{% url 'detail' post.pk %}"> {{post.Title}}</a>
        </li> <a href="{% url 'edit' post.pk %}"> (Edit)</a> <br>
        <a href="{% url 'delete' post.pk %}"> (Delete)</a>
        <hr> - {{ post.Article }}<br> {{post.Author}} {% endfor %} {% endblock %}
    </ul>
    <br>
    <br>
    <br>
    <a href="{% url 'create' %}"> Add Post </a>
    <br>
    <br>
    <a href="{% url 'contact' %}"> contact </a>
</body>

</html>